@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    --primary: #334355;
    --secoundary: #ffff;
    --font-primary: #ffff;
    --body-color: #929ca1;
}

*{
    font-family: 'Open Sans', sans-serif;
    color: var(--font-primary);
}

html{
    background: linear-gradient(rgba(0, 0, 0, 0.479), rgba(0, 0, 1, 0.336)100%), url('../img/Background.png') ;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    min-height: 110vh;
    margin: 0 auto;
    padding: 0 auto;
}
header,body,footer{
    background:none;
}



/*HEADER*/ 
header{
    height:100px;
    display: flex;
    align-items: center;
}
.menu{
    border-radius: 20px 0 0 20px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0; 
    top: 20px;
    background-color: var(--primary);
}

.navbar{
    padding: 0 30px 0 0;
    margin: 0 10px 0 10px;
    list-style-type: none;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.profile-panel{
    margin-right: 30px;
    text-align: center;

}
.navbar > a li {
    padding: 20px 10px; 
    margin-left: 20px;
}
.navbar::after{
    content: "";
    display:block;
}
.navbar li:hover{
    background-color:var(--secoundary);
    color:var(--primary);
}
.navbar a{
   text-decoration: none;
   color: var(--font-primary);
}
.icon{
    margin-right: 30px;
    width: 35px;
    height: 35px;
}

.practice-menu-icon{
    border-radius: 0px 5px 5px 0;
    background-color: var(--primary);
    padding-left:20px;
    position:absolute;
    left:0;
}

.uk-navbar-dropdown{
    width: 150px;
 
}
.menu-toggle-bar{
    margin-left: 30px;
}

#icon-menu{
   width: 50px;
   height: 50px; 
}

.uk-offcanvas-bar{
    background-color: var(--primary);
}
.uk-parent a,.uk-nav-sub li a, .mobile-navbar a li,.practice-menu a li{
    color: var(--font-primary) !important;
}
.uk-parent a:hover,
.uk-nav-sub li a:hover, 
ul.practice-navbar a li:hover
ul.mobile-navbar a li:hover{
    color: #e0e0e0 !important; 
}
.mobile-menu{
    display:none;
}

/*FONTS*/

h1,h2,h3,h4,p{
    color: var(--font-primary);
}

/*MOBILE-MENU and PRACTICE-MENU*/
.mobile-navbar,.practice-navbar{
    list-style-type: none;
    font-size:18px;
    margin: 15px 0;
    padding: 0;

}
.mobile-navbar a,.practice-navbar a{
    text-decoration: none;
    margin: 10px 0;
}

.mobile-profile-panel{
    font-size:14px;
    color:black;
    text-align:center;
    display:none;
}


/*INDEX*/

.wellcome-message{
    margin-top: 50px;
    display:flex;
    justify-content: center;

}
.message-text{
    width: 40%;
    text-align:right;
    line-height: 2;
    font-size:20px;
}

#logo-larger{
    width: 40%;
    height: 40%;
    margin-left:-10%;
}

/*FOOTER*/



.footer-icon{
    margin: 0 10px;
    
}
#footer-logo{
    width: 75px;
    height:75px;
    position:absolute;
    left:10px;
}

footer{
    height: 100px;
    width: 100%;
    background-color:var(--primary);
    display:flex;
    justify-content: center;
    align-items: center;
    
    
}
/*PRACTICLES*/

.practicle-title{
    color: var(--secoundary);
    text-align: center; 
    padding: 0 10px;
}

main{
    margin-top: 20px;
    background-color:initial;
}
.practicles-container{
    margin: 0 auto;
    width: 55%;
    display:flex;
    justify-content: center;
    height:400px;
}
.block{
    width: 150px;
    height: 150px;
    background: linear-gradient(rgb(1, 52, 87),rgba(0,0,1,0.123)100%), center ;
    margin: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius:10px;
}
.card-title{
    width:100%;
    text-align: center;
    color:var(--fontTitle);
    font-weight: bold;
}
.block-link{
    text-decoration:none !important;
}
.block-link:hover{
    -moz-transform: scale(1.15);
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
    transition-duration: 0.5s ;
}


.icon-practicles{
    width:50px;
    height:50px;
}

.form-question-title, .form-question-answer{
    color:var(--primary); 
}

/*RESPONSIVE*/

@media(max-width: 970px){
    .practicles-container{
        width: 80%;
    }
    .message-text{
        width: 80%;    
    }
    
    #logo-larger{
        margin-left:-15%;
    }
    .mobile-menu{
        display:initial;
    }
    .navbar,.profile-panel{
        display:none;
    }
    .menu{
        padding:20px;
    }
    .mobile-profile-panel{
        display: initial;
    }
}

/*ipad*/
@media (width: 768px) and (height: 1024px){
  
    .wellcome-message{
        align-items:center;
        height:100vh;
    }
    .practicles-container{
        height:100vh;
    }
    #logo-larger{
        height:500px;
        width: 500px;
    }
}
/*ipad pro*/
@media (width: 1024px) and (height: 1366px){
    .wellcome-message{
        align-items:top;
        height:100vh;
    }
    #logo-larger{
        height:500px;
        width: 500px;
    }
    .practicles-container{
        height:100vh;
    }
}


@media(max-width: 520px ){
    .practicles-container{
        width: 100%;
        margin: 0 auto;
        padding: 0 auto;
    }
    #logo-larger{
        margin-left:-50%;
        
    }
    .message-text{
        width: 100%;
        padding: 10%;
        text-align:left;
    }
}


