@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import 'https://fonts.googleapis.com/css?family=Montserrat|Open+Sans';
@font-face {
    font-family: 'DS-DIGI';
    src: url('../fonts/DS-DIGI.TTF');
}


/*CANVAS*/
#canvas{
    position: fixed; 
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 800px;
    height: 600px;

}


/*QUESTIONARY*/

.questions_box{
    margin: 0 auto;
    padding: 0 auto;
    background-color: #e8e8e8;
    padding: 30px;
    text-align: left;
    max-width: 600px;
    display:flex;
    align-items:center;
}

form{
    width: 100%;
}
.container:after,
.row:after,
.clearfix {
  content: "";
  display: table;
  clear: both; }

*{
    font-family: 'Barclaycard Co Lt', sans-serif;
}
  h1, h2, h3, h4 {
    font-family: 'Barclaycard Co Lt', sans-serif;
    font-weight: bold;
    margin-top: 0;
  }
  
  h1 {
    font-size: 30px;
  }
  
  h2 {
    font-size: 20px;
  }
  
  .form-description{
      color:black !important;
      text-align: justify;
  }

.button {
    font-family: 'Barclaycard Co Lt',Tahoma,sans-serif;
    margin: 10px 0 0 0;
    float: right;
    cursor: pointer;
    font-size: 1em;
    border: none;
    padding: 10px 15px;
    line-height: 18px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    vertical-align: baseline;
    background: #075da8;
    color: white;
    text-decoration: none !important;
    display: inline-block;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transition: background-color 200ms ease-in-out;
    -moz-transition: background-color 200ms ease-in-out;
    -o-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;

  }

  

  .button:hover {
    background-color: #059fdb !important;
    color: white;
  }
  .button-previous{
    float: left;
  }

  .option-answer{
      margin: 10px 0;
  }


/*DROPZONE*/
.select-container {
    margin: 20px 0 10px 0;
    display: flex;
    justify-content: center;
    flex-direction:column;
}

.left, .right {
    min-height: 150px;
    display: flex;
    align-items: top;
}

.left {
    background-color: cornflowerblue;
}
.right{
    background-color: #68b369;
}

.item{
    margin: 10px;
    text-align: center;
    padding: 15px;
    width: 70px;
    height: 120;
}
.card-img{
    user-select: none; /*ignora seletor do mouse*/
    pointer-events: none; /*ignora seletor do mouse*/
    max-height: 60px;
    max-width: 60px;
    margin-bottom: 10px;
}
.card-title{
    font-size:15px;
}

#question-1{
    display: inherit;
}
#question-2,#question-3,#question-4, #canvas{
    display: inherit;
}


.question-default{
    width: 100%;
}

.alert{
  padding: 2px;
  display:none;
}

/*EXTRA CLASSES*/
.showDisplay{
    display: initial;
}
.hideDisplay{
    display: none;
}




/*MEDIA QUERY CANVAS*/

/*iPhone X*/
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    #canvas{
       width:375px;
        top: 50%;
    }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    #canvas{
        width: 600px;
        height: 370px;
        top: 40%;
    }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    #canvas{
        width: 414px;
    } 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    #canvas{
        top: 50%;
    } 
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    #canvas{
        width: 375px;
        top: 65%;
    } 
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    #canvas{
        width: 667px;
        top: 80%;
    } 
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    #canvas{
        width: 320px;
        top: 80%;
        
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    #canvas{
        width: 400px;
        top: 100%; 
    }
}



















